/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #131e3d;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

header {
    background-color: #131e3d;
    color: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 150px;
    height: auto;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

nav ul li {
    margin-right: 2rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

nav ul li a:hover {
    text-decoration: underline;
    color: #f8b400;
}
.hero-about .hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 30, 61, 0.7); /* Transparencia azul */
    z-index: 1;
}
#volver-btn {
    margin-top: 2rem;
    padding: 1rem 2rem;
    background-color: #ff5733;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.25rem;
    text-transform: uppercase;
}

#volver-btn:hover {
    background-color: #e14a2a;
}

#about, #mvv-section .hero-content h1 {
    font-size: 3rem;
    color: white;
    margin-bottom: 1rem;
}

#about, #mvv-section .hero-content p {
    font-size: 1.5rem;
    color: white;
    margin-bottom: 2rem;
}

#about, #mvv-section {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.hero {
    position: relative;
    background-size: cover;
    background-position: center;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 30, 61, 0.7);
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}
/* Contenedor principal para Misión, Visión y Valores */
.mvv-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 2rem;
    text-align: center;
    max-width: 1200px; /* Ajustar el ancho máximo para mayor control */
    margin: 0 auto; /* Centrar el contenedor */
}

/* Cada contenedor individual */
.mvv-box {
    background-color: rgba(255, 255, 255, 0.2); /* Fondo blanco transparente */
    padding: 1.5rem;
    border-radius: 10px;
    flex-basis: calc(33.333% - 20px); /* Hace que cada contenedor ocupe 1/3 del espacio disponible */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para efecto de profundidad */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-bottom: 20px; /* Espacio entre los contenedores verticalmente */
}

/* Títulos más pequeños */
.mvv-box h1 {
    font-size: 1.5rem; /* Tamaño del título más pequeño */
    color: white;
    margin-bottom: 0.5rem;
}

/* Descripciones más pequeñas */
.mvv-box p {
    font-size: 1rem; /* Tamaño de la descripción */
    color: white;
    margin-bottom: 1rem;
}

/* Botón Volver */
#volver-btn {
    margin-top: 2rem;
    padding: 0.75rem 1.5rem; /* Tamaño más pequeño para el botón */
    background-color: #ff5733;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem; /* Tamaño de letra más pequeño */
    text-transform: uppercase;
}

#volver-btn:hover {
    background-color: #e14a2a;
}

/* Responsividad para pantallas más pequeñas */
@media (max-width: 768px) {
    .mvv-container {
        flex-direction: column; /* Cambia a vertical en pantallas pequeñas */
    }

    .mvv-box {
        width: 90%; /* Los contenedores ocupan el 90% del ancho en pantallas pequeñas */
        margin-bottom: 1rem; /* Agrega un espacio entre los contenedores */
    }
}

/* Títulos */
.mvv-box h1 {
    font-size: 2rem;
    color: white;
    margin-bottom: 1rem;
}

/* Descripciones */
.mvv-box p {
    font-size: 1.2rem;
    color: white;
    margin-bottom: 2rem;
}

/* Estilo del botón para volver */
#volver-btn {
    margin-top: 2rem;
    padding: 1rem 2rem;
    background-color: #ff5733;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.25rem;
    text-transform: uppercase;
}

#volver-btn:hover {
    background-color: #e14a2a;
}

/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #131e3d;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

header {
    background-color: #131e3d;
    color: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 150px;
    height: auto;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

nav ul li {
    margin-right: 2rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

nav ul li a:hover {
    text-decoration: underline;
    color: #f8b400;
}



/* Responsividad para dispositivos móviles */
@media (max-width: 768px) {
    .center-layout {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .card {
        width: 90%;
        margin: 0 auto;
    }

    .card h3 {
        font-size: 1.5rem;
    }

    .card p,
    .centered-values {
        font-size: 1.1rem;
    }
}
/* Estilos de la sección de inicio */
.hero {
    position: relative;
    height: 100vh;
    background: url('./public/activando3.jpg') no-repeat center center/cover;
}

.hero-about {
    position: relative;
    width: 100%; /* Asegura que ocupe todo el ancho */
    height: 100vh; /* Asegura que la imagen ocupe toda la altura de la ventana */
    background: url('public/DSC00209.jpg') no-repeat center center/cover; /* Imagen centrada y ajustada a la pantalla */
    background-size: cover; /* Asegura que la imagen cubra todo el espacio */
    background-position: center; /* Centra la imagen */
    display: flex;
    justify-content: flex-start; /* Alineación hacia el inicio verticalmente */
    align-items: flex-start; /* Alineación hacia el inicio horizontalmente */
    text-align: left; /* Alineación del texto */
    padding: 0; /* Elimina cualquier margen interno que cause el borde azul */
    margin: 0; /* Elimina cualquier margen externo */
}

.hero-about .hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 30, 61, 0.7); /* Transparencia azul */
    z-index: 1;
}

.about-content {
    position: relative;
    z-index: 2;
    padding: 2rem;
    max-width: 800px;
}

.about-content h1 {
    font-family: 'Inter', sans-serif;
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.about-content p {
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    line-height: 1.8;
    text-align: justify;
    margin-bottom: 2rem;
}

/* Ajusta el contenido de las tarjetas en la sección de misión, visión y valores */
.center-layout {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 2rem;
    padding: 2rem;
    text-align: center;
    z-index: 2;
    position: relative;
}

.card {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco transparente */
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card h3 {
    font-size: 1.8rem;
    color: #00bfa5;
    margin-bottom: 1rem;
}

.card p {
    font-size: 1.2rem;
    color: #555;
    text-align: justify;
}

.centered-values {
    list-style-type: none;
    padding: 0;
    font-size: 1.2rem;
    color: #555;
}

.centered-values li {
    margin-bottom: 0.5rem;
}

.hero-content a {
    display: inline-block;
    background-color: #ff5733;
    color: white;
    padding: 0.75rem 1.5rem; /* Tamaño más pequeño del botón */
    text-decoration: none;
    font-size: 1rem; /* Tamaño de la fuente más pequeño */
    border-radius: 5px;
    text-align: center;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 30, 61, 0.8); /* Transparencia sobre la imagen de fondo */
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
    color: white;
    padding: 2rem;
    max-width: 600px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh; /* Asegura que el contenido esté centrado verticalmente */
    margin-left: 5%; /* Mueve el contenido hacia la izquierda */
}

.hero-content h1 {
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 1.5rem;
}

.hero-content p {
    font-size: 1.5rem;
    line-height: 1.8;
    margin-bottom: 2rem;
    text-align: justify;
}

.hero-content a {
    display: inline-block;
    background-color: #ff5733;
    color: white;
    padding: 1rem 2rem;
    text-decoration: none;
    font-size: 1.25rem;
    border-radius: 5px;
}

.hero-content a:hover {
    background-color: #e14a2a;
}

/* Menú hamburguesa para móviles */
.hamburger {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: fixed;
    top: 1rem;
    right: 1rem;
    width: 50px;
    height: 50px;
    background-color: #ADD8E6;
    border-radius: 50%;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
}

/* Estilos para el contenedor hero */
.hero-container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgba(19, 30, 61, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

/* Ajustes de navegación para dispositivos móviles */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 1rem 0;
    }

    .hamburger {
        display: flex;
    }

    .logo {
        display: none;
    }
}/* Estilos del Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    max-width: 80%;
    max-height: 80%;
}

.modal-content video {
    width: 100%;
    height: auto;
}

/* Sección de Contacto */
.contact-section {
    padding: 2rem;
    text-align: center;
    background-color: #ADD8E6;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
    gap: 2rem;
}

#contact-form,
.contact-info {
    flex: 1;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#contact-form {
    display: flex;
    flex-direction: column;
}

#contact-form label {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: #333;
}

#contact-form input,
#contact-form textarea {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

#contact-form textarea {
    height: 150px;
}

#contact-form button {
    background-color: #00bfa5;
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
}

#contact-form button:hover {
    background-color: #008f7a;
}

.contact-info h3 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #02483d;
}

.contact-info p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 1.5rem;
}

.contact-info a {
    color: #00bfa5;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: none;
    color: #008f7a;
}

.contact-info img {
    width: 50px;
    height: auto;
    margin-bottom: 1rem;
}

/* Ajustes de tamaño para los íconos en la sección de contacto */
.contact-card img {
    width: 40px;
    height: auto;
    margin: 10px 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contact-card p {
    text-align: center;
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

/* Centrado y ajuste de la tarjeta de contacto */
.contact-card {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2rem;
    border-radius: 10px;
    max-width: 400px;
    margin: auto;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Ajustes Responsivos */
@media (max-width: 768px) {
    .contact-card img {
        width: 50px;
    }

    .contact-info {
        max-width: 100%;
        padding: 1rem;
    }

    .contact-info img {
        width: 40px;
    }

    .contact-info h3 {
        font-size: 1.5rem;
    }

    .contact-info p {
        font-size: 1rem;
    }

    .contact-card {
        font-weight: 700;
        margin-bottom: 1rem;
        text-align: center;
    }

    .contact-title {
        font-size: 1.2rem;
    }
}

/* Footer */
footer {
    background-color: #ADD8E6;
    color: white;
    text-align: center;
    padding: 1rem;
}

footer p {
    margin: 0;
    font-size: 1rem;
}

/* Slider */
.slider {
    position: relative;
    max-width: 100%;
    height: 400px;
    overflow: hidden;
    z-index: 1;
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: fadeEffect 1.5s ease-in-out;
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Sección ¿Quiénes Somos? */
.about-section {
    text-align: center;
    padding: 2rem;
    background-color: #ADD8E6;
}

.about-heading {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #02483d;
}

.about-description {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #555;
    text-align: justify;
    padding: 0 2rem;
}

.center-layout {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 2rem;
    padding: 2rem;
    text-align: center;
}

.card {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card h3 {
    font-size: 1.8rem;
    color: #00bfa5;
    margin-bottom: 1rem;
}

.card img.icon {
    width: 80px;
    margin-bottom: 1rem;
}

.card p,
.centered-values {
    font-size: 1.2rem;
    color: #555;
    text-align: center;
}

.centered-values {
    list-style-type: none;
    padding: 0;
}

/* Responsividad en la Sección ¿Quiénes Somos? */
@media (max-width: 768px) {
    .center-layout {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .card {
        width: 90%;
    }

    .card h3 {
        font-size: 1.5rem;
    }

    .card p,
    .centered-values {
        font-size: 1.1rem;
    }
}

/* Sección Programas */
.programs-section {
    padding: 2rem;
    background-color: rgba(19, 30, 61, 0.7);
    text-align: center;
}

.programs-section h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: white;
}

.programs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.program-card {
    width: 300px;
    padding: 1rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.program-icon {
    width: 80px;
    margin-bottom: 1rem;
}

.program-card h3 {
    font-size: 1.8rem;
    color: #00bfa5;
    margin-bottom: 1rem;
}

.program-card p {
    font-size: 1.2rem;
    color: #555;
    text-align: justify;
}

/* Estilos del Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    max-width: 80%;
    max-height: 80%;
}

.modal-content video {
    width: 100%;
    height: auto;
}

